.user{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.user-dashboard{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  li{
    list-style: none;
    margin: 0 12px;
  }
  .dashboard{
    height: auto;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard iframe{
    min-height: 800px;
    min-width: 1330px;
  }