.forget-password{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

}
.close-forget{
    position: absolute;
    top: 15px; /* Adjust as needed */
    right: 15px; 
    cursor: pointer;
}